<div class="jumbotron text-center">
  <h1>Welcome to the Soviet Armory!</h1>
  <p>This is a simple SaaS platform for purchasing Soviet weaponry and chatting with your fellow comrades!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
</div>

    
