<!-- <div class="jumbotron">
<div class="container">
<h2 style='color:red;font-size:2em; margin-top: 50px; centered'>Welcome to the Soviet armory<h2>
<p>This is where you will find all sorts of Soviet weaponry used by the Soviet Union during Soviet rule</p>
<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
 </div>
  </div> -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron text-center">
        <h1>Welcome to the Soviet Armory!</h1>
        <p>This is a simple SaaS platform for purchasing Soviet weaponry and chatting with your fellow comrades!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
